.div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.slider-button:hover {
    color: rgb(176, 255, 169)
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}




@media only screen and (max-width: 400px) {
  .homemain{
background-color: rgb(243, 181, 145);
width: 100px;
height: 100px;
justify-content: flex-end; 
  }

}

.homemain {
  text-align: center;
  color: black;
  Font-size: 45px;
}

#h1{
font-size: 70px;
color: rgb(248, 101, 16);
font-family: 'Anton', sans-serif;
padding: 30px;
margin: 20px;
}



#dropbtn {
    background-color: rgb(253, 158, 94);
    color: white;
    padding: 10px;
    font-size: 16px;
  }

 
  
  #dropdown {
    position: relative;
    display: inline-block;
  }
  

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  


  #dropdown-content a {
    color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  
  #dropdown-content a:hover {background-color: #ddd;}

  
  #dropdown:hover #dropdown-content1 {display: block;}
 
  
  #dropdown:hover #dropbtn1 {background-color: darkblue;}




  #hem{
      padding: 10px;
      margin: 10px;

      }